{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Your Profile</h1>

    {% if player_profile %}
        <h3>Game: {{ player_profile.game }}</h3>
        <form method="POST" action="{{ url_for('update_game') }}">
            <label for="game">Select Game:</label>
            <select name="game" id="game" class="form-control">
                <option value="Fortnite" {% if player_profile.game == 'Fortnite' %}selected{% endif %}>Fortnite</option>
                <option value="Roblox" {% if player_profile.game == 'Roblox' %}selected{% endif %}>Roblox</option>
            </select>
            <button type="submit" class="btn btn-success mt-3">Save</button>
        </form>
        <hr>
        {% if player_statistics %}
            <h3>Statistics:</h3>
            <ul>
                <li>Total Kills: {{ player_statistics.total_kills }}</li>
                <li>Total Deaths: {{ player_statistics.total_deaths }}</li>
                <li>Total Assists: {{ player_statistics.total_assists }}</li>
            </ul>
        {% else %}
            <p>No statistics available.</p>
        {% endif %}

    {% else %}
        <p>You don't have a profile yet. Click the button below to create one.</p>
        <form method="POST" action="{{ url_for('create_profile') }}">
            <button type="submit" class="btn btn-primary">Create Profile</button>
        </form>
    {% endif %}

    <h1> Update User Details</h1>

    {% if session.get('username') %}
        <!-- Update Username Section -->
        <h3>Update Username</h3>
        <form method="POST" action="{{ url_for('update_username') }}">
            <div class="form-group">
                <label for="username">New Username:</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success mt-3">Update Username</button>
        </form>

        <hr>

        <!-- Update Email Section -->
        <h3>Update Email</h3>
        <form method="POST" action="{{ url_for('update_email') }}">
            <div class="form-group">
                <label for="email">New Email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success mt-3">Update Email</button>
        </form>

        <hr>

        <!-- Update Password Section -->
        <h3>Update Password</h3>
        <form method="POST" action="{{ url_for('update_password') }}">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success mt-3">Update Password</button>
        </form>
    {% endif %}

{% endblock %}
